{% extends 'blog/base.html' %}
{% load static %}
<html>
    <head>
<title>Pankaj's blog</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">        
    </head>
    <body>
        <div>
    <h1><a href="/">Pankaj's Blog</a></h1>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
	{% block content %}
            <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item">
                <div class="post">
                    <div class="date">
                        <p>{{ post.published_date }}</p>
                        <h3 style="margin-top:5px"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    <p style="margin-bottom:1px">{{ post.text|linebreaksbr }}</p>
                    <p style="float:right"><i>Author: {{ post.author }}</i></p>
                    </div>
                </div>
                </li>
                <hr>
            {% endfor %}
            </ul>
	   {% endblock %}
        </div>
    </div>
</div>
   </body>
</html>
